<div
  style="
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #fafafa;
  "
>
  <center>
    <table
      align="center"
      border="0"
      cellpadding="0"
      cellspacing="0"
      height="100%"
      width="100%"
      style="
        border-collapse: collapse;
        height: 100%;
        margin: 0;
        padding: 0;
        width: 100%;
        background-color: #fafafa;
      "
    >
      <tbody>
        <tr>
          <td
            align="center"
            style="
              height: 100%;
              margin: 0;
              padding: 10px;
              width: 100%;
              border-top: 0;
            "
          >
            <table
              border="0"
              cellpadding="0"
              cellspacing="0"
              width="100%"
              style="
                border-collapse: collapse;
                border: 0;
                max-width: 600px !important;
              "
            >
              <tbody>
                <tr>
                  <td
                    style="
                      background: #ffffff none no-repeat center/cover;
                      background-color: #ffffff;
                      background-image: none;
                      background-repeat: no-repeat;
                      background-position: center;
                      background-size: cover;
                      border-top: 0;
                      border-bottom: 2px solid #eaeaea;
                      padding: 9px 18px;
                    "
                  >
                    <div
                      style="
                        padding: 20px 18px 25px;
                        text-align: center;
                        width: 100%;
                      "
                    ></div>
                    <h1
                      style="
                        display: block;
                        margin: 0;
                        padding: 0;
                        color: #202020;
                        font-family: Helvetica;
                        font-size: 26px;
                        font-style: normal;
                        font-weight: bold;
                        line-height: 125%;
                        letter-spacing: normal;
                        text-align: left;
                      "
                    >
                      Hello {{username}},
                    </h1>
                    <br />
                    <p
                      style="
                        margin: 10px 0;
                        padding: 0;
                        color: #202020;
                        font-family: Helvetica;
                        font-size: 16px;
                        line-height: 150%;
                        text-align: left;
                      "
                    >
                      Someone request to magic_link!
                    </p>
                    <br />
                    <a
                      href="{{domain}}/magic-link/{{token}}/"
                      style="text-decoration: none"
                      >{{domain}}/magic-link/{{token}}/</a
                    >
                    <p>Thanks From Deeplobe Team,</p>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </center>
</div>
